# Para trabalhar com jupyter notebook
nbformat == 5.10.4

# Manipulação de dados
pandas==2.3.3
numpy==2.3.5
formulaic==1.2.1

# Modelagem e machine learning
scikit-learn==1.7.2
lifelines==0.30.0
statsmodels == 0.14.5

# Visualização
matplotlib==3.10.7
seaborn==0.13.2
upsetplot==0.9.0
plotly==5.16.0

# Empacotamento e construção
setuptools==80.9.0
build==1.3.0

# Documentação (opcional, se estiver usando MkDocs)
mkdocs==1.6.1
mkdocs-material==9.7.0
